.aboutme .Navbar {
  transform: translatex(23px) translatey(60px) !important;
}
.aboutme {
  background-color: #210039;
}
@media (max-width:425px){
    .aboutme{
        background-image: url(./Moon.svg);
    }
    /* Svg */
    .aboutme .Navbar svg{
      background-color:transparent;
      position:relative;
      top:-29px;
      height:47px;
     }
     .nav-menu{
      transform:translatex(0px) translatey(0px);
      background-image: url(./Moon.svg);
   }
   .navbar-toggle{
     background-image: url(./Moon.svg);
   }
   .Navbar .fabars{
    width:40px;
    padding-right:6px;
   }


  }
@media (min-width:426px){
    .aboutme {
        background-image: url(./wavesforcomputer.svg)
    
    }
    .nav-menu{
      transform:translatex(0px) translatey(0px);
      background-image: url(./wavesforcomputer.svg);
   }
   .navbar-toggle{
     background-image: url(./wavesforcomputer.svg);
   }
}