#root .Navbar {
  transform: translatex(23px) translatey(60px) !important;
}
#root {
  background-color: #210039;
}
@media (max-width:425px){
    #root{
        background-image: url(./waveforphone.svg);
    }
    /* Svg */
    #root .Navbar svg{
      background-color:transparent;
      position:relative;
      top:-29px;
      height:47px;
     }
   }
@media (min-width:426px){
    #root {
        background-image: url(./wavesforcomputer.svg)
    
    }
}