
.uwu{
    background-color: rgb(13, 207, 181);
}
.uwufondo{
    background-image: url(./UWU.svg);
}

.navbar-toggle{
    background-color: rgb(13, 102, 90);
    background-image: none;
}
.nav-menu,
.aboutme .Navbar svg,
.active .nav-menu-items,
.nav-menu active{
    background-image: url(./UWU.svg);
    background-repeat: no-repeat;
    background-color: rgb(13, 102, 90);
    background-position: center;
}

.Navbar {
  transform: translatex(23px) translatey(60px) !important;
  background-image: none

}
@media (max-width:426px){

    .uwu{
        background-color: rgb(13, 207, 181);
    }
    .uwufondo{
        background-image: none;
    }
    
    .navbar-toggle{
        background-color: rgb(13, 102, 90);
        background-image: none;
    }
    .nav-menu,
    .uwu .Navbar svg,
    .active .nav-menu-items,
    .nav-menu active{
        background-image: none;
        background-repeat: no-repeat;
        background-color: rgb(13, 102, 90);
        background-position: center;
    }
    
    .Navbar {
      transform: translatex(23px) translatey(60px) !important;
      background-image: none
    
    }
}
